<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.privates.magu1436.cram_school_helper.mapper.CalendarCellMapper">
    <select 
        id="getAllCalendarCells"
        resultMap="com.privates.magu1436.cram_school_helper.mapper.EntityMapper.calendarCellMap"
    >
        SELECT 
            cc.calendar_cell_id, cc.class_at ,
            c.class_id, c.class_name,
            cd.class_detail_id, cd.student, cd.class_subject, cd.memo, cd.teaching_unit, cd.learned, cd.good_point, cd.issue, cd.comment
        FROM calendar_cells cc 
        LEFT JOIN classes c ON c.calendar_cell_id = cc.calendar_cell_id
        LEFT JOIN class_details cd ON cd.class_id = c.class_id
        ORDER BY cc.class_at
    </select>

    <select id="getCalendarCellById" resultMap="com.privates.magu1436.cram_school_helper.mapper.EntityMapper.calendarCellMap">
        SELECT 
            cc.calendar_cell_id, cc.class_at ,
            c.class_id, c.class_name,
            cd.class_detail_id, cd.student, cd.class_subject, cd.memo, cd.teaching_unit, cd.learned, cd.good_point, cd.issue, cd.comment
        FROM calendar_cells cc 
        LEFT JOIN classes c ON c.calendar_cell_id = cc.calendar_cell_id
        LEFT JOIN class_details cd ON cd.class_id = c.class_id
        WHERE cc.calendar_cell_id = #{id}
    </select>

    <insert 
        id="insertCalendarCell" 
        useGeneratedKeys="true"
        keyProperty="id"
        parameterType="com.privates.magu1436.cram_school_helper.entity.CalendarCell"
    >
        INSERT INTO calendar_cells (class_at) VALUES (#{classAt})
    </insert>

    <update id="updateCalendarCell" parameterType="com.privates.magu1436.cram_school_helper.entity.CalendarCell">
        UPDATE calendar_cells SET class_at = #{classAt}
        WHERE calendar_cell_id = #{id}
    </update>

    <delete id="deleteCalendarCell" parameterType="int">
        DELETE FROM calendar_cells WHERE calendar_cell_id = #{id}
    </delete>

</mapper>