<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.privates.magu1436.cram_school_helper.mapper.ClassDetailMapper">

    <select id="getClassDetailById" parameterType="int" resultMap="com.privates.magu1436.cram_school_helper.mapper.EntityMapper.classDetailMap">
        SELECT
            cd.class_detail_id, 
            cd.student, 
            cd.class_subject, 
            cd.memo, 
            cd.teaching_unit, 
            cd.learned, 
            cd.good_point, 
            cd.issue, 
            cd.comment
        FROM 
            class_details cd
        WHERE 
            cd.class_detail_id = #{id}
    </select>

    <insert 
        id="insertClassDetail"
        useGeneratedKeys="true"
        keyProperty="classDetail.id"
        parameterType="com.privates.magu1436.cram_school_helper.form.CreateClassDetailForm"
    >
        INSERT INTO class_details
            (class_id, student, class_subject, memo, teaching_unit, learned, good_point, issue, comment)
        VALUES
            (#{classId}, #{classDetail.student}, #{classDetail.subject}, #{classDetail.memo}, #{classDetail.unit}, #{classDetail.learned}, #{classDetail.goodPoint}, #{classDetail.issue}, #{classDetail.comment})
    </insert>

    <update id="updateClassDetail" parameterType="com.privates.magu1436.cram_school_helper.form.UpdateClassDetailForm">
        UPDATE
            class_details
        SET
            class_id = #{classId}, 
            student = #{classDetail.student}, 
            class_subject = #{classDetail.subject}, 
            memo = #{classDetail.memo}, 
            teaching_unit = #{classDetail.unit}, 
            learned = #{classDetail.learned}, 
            good_point = #{classDetail.goodPoint}, 
            issue = #{classDetail.issue}, 
            comment = #{classDetail.comment}
        WHERE
            class_details_id = #{classDetail.id}
    </update>

    <delete id="deleteClassDetail" parameterType="int">
        DELETE FROM
            class_details
        WHERE
            class_detail_id = #{id}
    </delete>
</mapper>